{
  "presets": ["babel-preset-expo"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"]
    }
  },
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {		
		'@app': './src',
        '@asset': './assets',       
        "@util": "./src/util",
        "@screen": "./src/components/screens",
        "@navigation": "./src/components/navigations",
        "@shared": "./src/components/shared", 
        "@kittenDesign": "./src/config",
        "@item": "./src/components/items",
        "@expo": "./node_modules/@expo",
        "@api": "./src/apis",
        }
      }
    ]
  ]
}
